[submodule "frontend-repo"]
	path = frontend-repo
	url = https://github.com/Nibalab/frontend-repo.git
[submodule "backend-repo"]
	path = backend-repo
	url = https://github.com/Nibalab/backend-repo.git
